<div id="clipper-gallery-block">
  <script type="application/json" id="clips-json">
  {{ clips_json|raw }}
  </script>
  <div id="user-tags-csv" data-user-tags="{{ tags_csv }}"></div>
  <h2 class="block-title">{{ title }}</h2>
  <div class="vc-total-cbs">
    <span CLASS="clip-bank-size">TOTAL CLIP BANK SIZE: {{ total_usage_size }} / {{ quota_size }} </span>
  </div>
  <div class="cp-video-tags">
    <div class="cp-video-tag cp-video-tag-active" data-tag="all">ALL</div>
    <div class="cp-video-tag" data-tag="none">No Tags</div>
    {% for tag, rep_tag in rep_tags %}
    <div class="cp-video-tag" data-tag="tag-{{ rep_tag }}">{{ tag }}</div>
    {% endfor %}
    <div class="cp-video-tag-edit">Edit</div>
    <div class="dialog" style="display:none;" title="Edit Tags">
      <div id="table-div"></div>
      {{ form }}
    </div>
  </div>
  <div class="clip-list-v">
    <ul class="my-clip-list">
      {{ items }}
    </ul>
  </div>
</div>
