
{#
/**
 * @file
 * Theme override to display a single page with faceted search.
 * For these pages, the left sidebar is displayed before the main content.

 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{{ attach_library('dd/layouts') }}
{{ attach_library('dd/footer') }}

<header class="header header__region" role="banner">
  {% if page.top %}
    <section class ="top__region layout-center"> {{ page.top }} </section>
  {% endif %}
  <section class = "layout-center branding__region">
    <div class = "page-header__region"> {{ page.header }} </div>
    <section class = "main-menu__region">
      {# Navigation hamburger toggle icon markup for the mobile menu #}
      <a class = "js-nav-menu-toggle menu__hamburger-icon">
        <div class='nav-icon1'>
          <span>toggle-menu</span>
          <span>toggle-menu</span>
          <span>toggle-menu</span>
        </div>
      </a>
      {{ page.primary_menu }}
    </section>
  </section>
  {{ page.secondary_menu }}
</header>

<div class="layout-center">

  <div class="layout-3col has-facets">

    {# Decide on layout classes by checking if sidebars have content. #}
    {% if page.sidebar_first and page.sidebar_second %}
      {% set content_class        = 'layout-3col__right-content' %}
      {% set sidebar_first_class  = 'layout-3col__first-left-sidebar' %}
      {% set sidebar_second_class = 'layout-3col__second-left-sidebar' %}
    {% elseif (page.sidebar_second) %}
      {% set content_class        = 'layout-3col__left-content' %}
      {% set sidebar_first_class  = '' %}
      {% set sidebar_second_class = 'layout-3col__right-sidebar' %}
    {% elseif (page.sidebar_first) %}
      {% set content_class        = 'layout-3col__right-content' %}
      {% set sidebar_first_class  = 'layout-3col__left-sidebar' %}
      {% set sidebar_second_class = '' %}
    {% else %}
      {% set content_class        = 'layout-3col__full' %}
      {% set sidebar_first_class  = '' %}
      {% set sidebar_second_class = '' %}
    {% endif %}

    <div id = "js-toggle-filter" class="layout-3col__full">
      {# Placeholder div for attaching the filter toggle button #}
    </div>


    {% if page.sidebar_first %}
      <aside id = "accordion" class="{{ sidebar_first_class }}" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    <main class="{{ content_class }}" role="main">

      {{ page.highlighted }}
      {{ page.breadcrumb }}
      <a href="#skip-link" class="visually-hidden visually-hidden--focusable" id="main-content">Back to top</a>{# link target is in html.html.twig #}
      {{ page.title }}
      {{ page.help }}
      {{ page.content_top }}
      {{ page.content }}

    </main>

    {% if page.sidebar_second %}
      <aside class="{{ sidebar_second_class }}" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </div>

</div>{# /.layout-center #}

{{ page.footer }}

{{ page.bottom }}

