
<a href="{{ path }}">{{ clips }}</a>

<div class="padded">
    <h2><a href="{{ path }}">{{ title }}</a></h2>
    {{ body }}
    <a href="{{ path }}" class="button button--large">Take Action</a>
</div>